{% extends 'base.html.twig' %}

{% block title %}Commandes - Boutique QUENOUILLERE{% endblock %}

{% block body %}


<div>
    <h2 style="text-align:center">Liste des commandes</h2>
    <table class="table">
            <thead>
                <tr>
                    <th>N° de commande</th>
                    <th>Adresse Mail</th>
                    <th>°</th>
                </tr>
            </thead>
            <tbody>
            {% for command in commands %}
                <tr class="card-user">
                    <td>{{ command.id }}</td>
                    <td>{{ command.email }}</td>
                    <td><a href="./command/{{ command.id}}">Voir la commande</a></td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}
